<h3>{{product.id == null ? 'Create product' : 'Edit product'}}</h3>

<form [formGroup]="productForm" #form="ngForm" (ngSubmit)="submit()">

    <img *ngIf="productForm.controls.image.valid" [src]="productForm.controls.image.value">
    <div class="form-group">
      <label for="imageUrl">Image URL:</label>
      <input name="imageUrl" class="form-control" formControlName="image">
      
      <app-field-errors
        [fieldName]="'image'"
        [form]="productForm"
        [submitted]="form.submitted">
      </app-field-errors>
    </div>

  <div class="form-group">
    <label for="title">Title:</label>
    <input name="title" class="form-control" formControlName="title">

    <app-field-errors
      [fieldName]="'title'"
      [form]="productForm"
      [submitted]="form.submitted">
    </app-field-errors>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input name="description" class="form-control" formControlName="description">

    <app-field-errors
      [fieldName]="'description'"
      [form]="productForm"
      [submitted]="form.submitted">
    </app-field-errors>
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input name="price" class="form-control" formControlName="price">
    
    <app-field-errors
      [fieldName]="'price'"
      [form]="productForm"
      [submitted]="form.submitted">
    </app-field-errors>
  </div>
  
  <button class="btn btn-secondary" (click)="goBack()">Back</button>
  <button type="submit" class="btn btn-success">{{product.id == null ? 'Create' : 'Save'}}</button>
</form>